@model TechBytes.ApplicationLogic.Models.Post

@using Microsoft.AspNetCore.Identity

@inject UserManager<IdentityUser> userManager

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var user = await userManager.FindByIdAsync(Model.AuthorID);
}

<h1>@Model.Title</h1>

<div>
    <span class="text-muted font-italic">
        Posted on @Model.Published by @user.UserName
    </span>
    <hr />
    @Model.Content
</div>