@model IEnumerable<TechBytes.ApplicationLogic.Models.Post>
@using Microsoft.AspNetCore.Identity

@inject UserManager<IdentityUser> userManager

@{
    ViewData["Title"] = "Home Page";
}

<p>
    <a class="btn btn-primary" asp-action="Create">New Post</a>
</p>

@{
    var posts = Model.OrderByDescending(p => p.Published).ToList();
}

@foreach (var post in posts)
{
    var user = await userManager.FindByIdAsync(post.AuthorID);
    <div>
        <h2><a href="/posts/@post.ID">@post.Title</a></h2>
        <span class="text-muted font-italic">
            Posted on @post.Published by @user.UserName
        </span>
        <p class="lead">@post.Content</p>
        <hr />
    </div>
}