@model IEnumerable<TechBytes.ApplicationLogic.Models.Post> 
@using Microsoft.AspNetCore.Identity

@inject UserManager<IdentityUser> userManager

@{
    ViewData["Title"] = "Home Page";
}
@*
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
*@
@foreach(var post in Model) 
{
    var user = await userManager.FindByIdAsync(post.AuthorID);
    <div>
        <h2><a href="/Posts/Details/@post.ID">@post.Title</a></h2>
        <span class="text-muted font-italic">
            Posted on @post.Published by @user.UserName
        </span>
        <p class="lead">@post.Content</p>
        <hr/>
    </div>
}